body{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
}

a{
    text-decoration: none;

}

.main{
    width:100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-conteudo1{
    
    width: 970px;

}

.box-conteudo1 h2{
    font-size: 2rem;
   
    
}

.box-conteudo1 p{
    font-size: 1.1rem;
   
    
}

.rodape{
    display: flex;
    justify-content: center;
}

